.circle-button {
    font-family: var(--primary-font);
    text-align: center;
    font-size: 1.8em;
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 50%;
    background-color: var(--main-bg-color);
    transition: all .2s ease-in;
    cursor: pointer;
}

.circle-button:hover {
    background-color: var(--white);
}

.circle-button:disabled {
    background-color: aliceblue;
    cursor: default;
}