/* WIP */

.item__detail {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 40%;
    margin: 0 auto;
    background-color: var(--secondary-color);
    border-radius: 3rem;
    padding: 3rem;
}

.feature img {
    width: 80%;
}

.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    margin-bottom: 6rem;
    gap: 1rem;
}

.feature p {
    font-family: var(--primary-font);
    font-size: 1.8em;
}

.item__detail img:hover {
    animation: nashe .5s infinite alternate;
}

@keyframes nashe {
    0% {transform: rotate(-5deg);}
    100% {transform: rotate(5deg);}
}

.item__detail--features {
    width: 100%;
}

.item__detail--features p {
    font-family: var(--primary-font);
    font-size: 2.6em;
    text-align: center;
}

.item__detail--features ul {
    list-style-type: disc;
    font-family: var(--primary-font);
    font-size: 2em;
    font-weight: var(--light);
    width: fit-content;
    margin: 3rem auto 0;
}

.item__detail li {
    margin: 1rem 0;
}

.item__detail li:nth-child(1) {
    margin-left: 1rem;
}

.item__detail li:nth-child(2) {
    margin-left: 4rem;
}

.item__detail li:nth-child(3) {
    margin-left: 7rem;
}

.item__detail li:nth-child(4) {
    margin-left: 10rem;
}