.item__checkout--container {
    padding: 2.6rem 0;
    background-color: var(--secondary-color);

}

.item__checkout {
    display: flex;
    align-items: center;
    padding: 0.7rem;
    margin-top: 1rem;
    border: 0.1rem solid var(--black);
    border-radius: 1rem;
    transition: all .2s ease-in;
    margin: 0 auto;
}

.item__checkout svg {
    font-size: 24px!important;
}

.item__checkout:hover {
    background-color: aliceblue
}