header.container {
    width: 100vw;
    background-color: var(--main-bg-color);
    padding: .5rem 0;
}

.navbar img {
    width: 160px;
}

.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    margin: 0 auto;
    width: 50rem;
}

.navbar__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
}

.navbar__menu--item a {
    font-size: 1.2em;
    font-weight: var(--regular);
    padding: .5rem 1.5rem;
    border-radius: 3rem;
    transition: all .2s ease-in;
}

.navbar__menu--item a:hover {
    background-color: var(--secondary-color);
}