 /* Normalize */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--primary-font);
  font-size: 62.5%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--black);
}

a:hover {
  cursor: pointer;
}

/* Variables */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

:root {
  --main-bg-color: #F2F0D0;
  --secondary-color: #F9F8EA;
  --black: #000000;
  --primary-font: 'Roboto', sans-serif;

  --thin: 100;
  --light: 300;
  --regular: 400;
  --bold: 700;
}